body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.draggable-grid-item.muuri-item-dragging {
  z-index: 3;
}
.draggable-grid-item.muuri-item-releasing {
  z-index: 2;
}
.draggable-grid-item.muuri-item-hidden {
  z-index: 0;
}
.draggable-item-content {
  position: relative;
  width: 100%;
  height: 100%;
}
