
datasets/shapefiles/continental_us_tract_2000.cpg
datasets/shapefiles/continental_us_tract_2000.dbf
datasets/shapefiles/continental_us_tract_2000.prj
datasets/shapefiles/continental_us_tract_2000.shp
datasets/shapefiles/continental_us_tract_2000.shx
datasets/shapefiles/continental_us_tract_2010.cpg
datasets/shapefiles/continental_us_tract_2010.dbf
datasets/shapefiles/continental_us_tract_2010.prj
datasets/shapefiles/continental_us_tract_2010.shp
datasets/shapefiles/continental_us_tract_2010.shx
